<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>974926784633-g1jlnce4dtcgvtn32hgnuhqk2ubhj270.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974926784633-g1jlnce4dtcgvtn32hgnuhqk2ubhj270</string>
	<key>API_KEY</key>
	<string>AIzaSyD7X9yMNlnPY7GeYMpySQrk_sA4g0dg83s</string>
	<key>GCM_SENDER_ID</key>
	<string>974926784633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.software.exportchat</string>
	<key>PROJECT_ID</key>
	<string>export-message</string>
	<key>STORAGE_BUCKET</key>
	<string>export-message.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974926784633:ios:7392ba1362649300</string>
	<key>DATABASE_URL</key>
	<string>https://export-message.firebaseio.com</string>
</dict>
</plist>